@import "../../assets/styles/vars"

._fixed-b
  position: fixed
  bottom: 0

.menu-bottom
  background: #FFFFFF
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px
  display: flex
  justify-content: space-between
  padding: 6px 20px
  max-width: 640px
  margin: 0 auto
  border-radius: 8px
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0


.menu-bottom-item:hover,
.menu-bottom-item.menu-bottom-item-active
  cursor: pointer
  background: #e3e3e3

.menu-bottom-item
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  border-radius: 10px
  min-width: 55px
  padding: 0 5px
  height: 44px
  transition: $transition
  .item-icon
    margin: 0 0 4px 0
  .item-text
    text-transform: uppercase
    @include modText(11px, 11px,  #2A2B31, 700, null)
